<h1>Create a new repository</h1>

<%= form_for @repository, url: {action: 'create'} do |f| %>
  <p>
    <%= f.label 'name:'%>
    <%= f.text_field :name  %>
  </p>
  <p>
    <%= f.label 'format:'%>
    <%= f.select(:format_name) do %>
      <%= options_for_select(@formats.map { |f| [f.name, f.name] }) %>
    <% end %>
  </p>
  <p>
    <%= f.collection_check_boxes(
                                 :format_details,
                                 @format_details,
                                 :name,
                                 :name
    )
    %>
  <p>
    <%= f.submit "create" %>
  </p>
<% end %>
