<div id="<%= dom_id edition_section %>">
  <p>
    <strong>Alphanumeric:</strong>
    <%= edition_section.alphanumeric %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= edition_section.level %>
  </p>

  <p>
    <strong>No:</strong>
    <%= edition_section.no %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= edition_section.edition_id %>
  </p>

  <p>
    <strong>Positions count:</strong>
    <%= edition_section.positions_count %>
  </p>

</div>
