<%= render partial: 'shared/banner', locals: {
   title: %Q|Create a copy of "#{release_copy_title_for(params)}"|,
   subtitle: release_copy_artist_credit_for(params)
} %>

<section>
  <div class="container">
    <% if params[:release_id] || params[:release_head_id] %>
    <div class="tags has-addons">
      <span class="tag is-dark">
        <%=  params[:release_id] ? 'Release id:' : 'ReleaseHead id: ' %>
      </span>
      <span class="tag">
        <%= params[:release_id] || params[:rlease_head_id] %>
      </span>
    </div>
    <% end %>
    <%= render 'form', release_copy: @release_copy %>

    <%= link_to 'Back', release_copies_path, class: 'button is-link' %>
  </div>
</section>
