<section class="hero is-medium">
  <div class="container">
    <div class="hero-body">
      Create a new copy of
      <h1 class="title"><%= release_copy_title_for(@release, @release_head) %></h1>
      <h2 class="subtitle"><%= release_copy_artist_credit_for(@release, @release_head) %></h2>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="is-title-2">
      <%= release_copy_title_for(@release, nil) %> <%= release_copy_artist_credit_for(@release, nil) %>
    </h2>
    <%= render 'form', release_copy: @release_copy %>

    <%= link_to 'Back', release_copies_path, class: 'button is-link' %>
  </div>
</section>
