<p id="notice"><%= notice %></p>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"><%= @release_copy.designation %></h1>
      <h2 class="subtitle">
        <%= @release_copy.title %>
        <% if @release_copy.artist_credit %>
        <span class="has-text-weight-light">
          by <%= @release_copy.artist_credit.name %><% end %>
        </span>
        </h2>
        <div class="columns">
          <div class="column">
            <%= @release_copy.type %>
          </div> 
          <div class="column">
            <% if @release_copy.with_release? %>
              <%= link_to @release_copy.title, @release_copy.release %>
            <% else %>
              <%= link_to @release_copy.title, @release_copy.release_head %>
            <% end %>
          </div>
        </div>
    </div> 
  </div>
</section>

<% if @release_copy.type == 'OriginalRelease' %>
  <section>
    <div class="container">
      <%= render partial: 'shared/release_subset', collection: @release_copy.release.subsets %>
    </div>
  </section>
<% end %>

<section>
  <div class="container">
    <%= link_to 'Edit', edit_release_copy_path(@release_copy) %> |
    <%= link_to 'Back', release_copies_path %>
  </div>
</section>