<p id="notice"><%= notice %></p>

<%= render partial: 'shared/banner',
    locals: { title: @release_copy.designation, subtitle: release_copy_subtitle_for(@release_copy) } %>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <span class="tag is-primary">
          <%= @release_copy.type %> 
        </span>    
      </div>
      <div class="column">
        <% if @release_copy.with_release? %>
          <%= link_to @release_copy.title, @release_copy.release %>
        <% else %>
          <%= link_to @release_copy.title, @release_copy.release_head %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
     <%= render partial: 'shared/release_info', locals: { release: @release_copy.release } %>
  </div>
</section>

<% if @release_copy.type == 'OriginalRelease' %>
  <section>
    <div class="container">
      <%= render partial: 'shared/release_subset', collection: @release_copy.release.subsets %>
    </div>
  </section>
<% end %>

<section>
  <div class="container">
    <%= link_to 'Edit', edit_release_copy_path(@release_copy) %> |
    <%= link_to 'Back', release_copies_path %>
  </div>
</section>