<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @release_copy.type %>
</p>

<p>
  <strong>Release head:</strong>
  <%= @release_copy.release_head_id %>
</p>

<p>
  <strong>Release:</strong>
  <%= @release_copy.release_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @release_copy.user_id %>
</p>

<%= link_to 'Edit', edit_release_copy_path(@release_copy) %> |
<%= link_to 'Back', release_copies_path %>
