<h1><%= @album_release.title %></h1>

<p>
  <ul>
    <%= render partial: "labels", locals: { labels: @album_release.labels } %>
  </ul>
  <h3>formats</h3>
  <ul>
    <%= render partial: "formats", locals: { formats: @album_release.formats } %>
  </ul>
</p>
<h2>tracks</h2>
<ul>
  <% @album_release.tracks.each do |t| %>
    <li><%= t.release.title %></li>
  <% end %>
</ul>

<h2>identifiers</h2>
<ul>
  <% @album_release.identifiers.each do |i| %>
    <li><%= identifier_disambiguation_for(i) %></li>
  <% end %>
</ul>
