<h1><%= @album_release.title %></h1>
<p>by <b><%= @album_release.head.artist_credit.name %></b></p>
<p>
  <ul>
    <%= render 'labels', labels: @album_release.labels %>
  </ul>

  <h3>formats</h3>
  <ul>
    <%= render "formats", formats: @album_release.formats %>
  </ul>
</p>

<h2>tracks</h2>
<ul>
  <%= render "tracks", tracks: @album_release.tracks %>
</ul>

<h2>identifiers</h2>
<ul>
  <%= render "identifiers", identifiers: @album_release.identifiers %>
</ul>

<h2>credits</h2>
<ul>
  <%= render "credits", credits: @album_release.credits %>
</ul>
<% if  @album_release.source %>
  <h2>source</h2>
  <%= @album_release.source.name %>: <%= @album_release.source_ident %>
<% end %>
  
<p><%= link_to('add to collection',
               new_compilation_copy_path(
                   compilation_release_id: @album_release.id)) -%>
</p>
<p>
  <%= link_to('add as original',
              new_original_exemplar_path(
                  compilation_release_id: @album_release.id
              )
  ) %>
</p>
