<h1><%= @album_release.title %></h1>

<p>
  <ul>
    <% @album_release.labels.each do |label| %>
      <li><%= label_and_catalog_no_for(label) %></li>
    <% end  %>
  </ul>
  <h3>formats</h3>
  <ul>
    <% @album_release.formats.each do |f| %>
      <li>
	<%= format_quantity_multiplied_name_for(f) %>
        <%= format_details_for(f) %>
        <%= f.note if f.note %>
      </li>
    <% end %>
  </ul>
</p>
<h2>tracks</h2>
<ul>
  <% @album_release.tracks.each do |t| %>
    <li><%= t.release.title %></li>
  <% end %>
</ul>

<h2>identifiers</h2>
<ul>
  <% @album_release.identifiers.each do |i| %>
    <% if i.disambiguation %>
      <li><%= i.type.name %> (<%= i.disambiguation %>): <%= i.code %></li>
    <% else %>
      <li><%= i.type.name %>: <%= i.code %></li>
    <% end %>
  <% end %>
</ul>
