<div id="<%= dom_id participant %>">
  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Sort name:</strong>
    <%= participant.sort_name %>
  </p>

  <p>
    <strong>Disambiguation:</strong>
    <%= participant.disambiguation %>
  </p>

  <p>
    <strong>Begin date:</strong>
    <%= participant.begin_date %>
  </p>

  <p>
    <strong>Begin date mask:</strong>
    <%= participant.begin_date_mask %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= participant.end_date %>
  </p>

  <p>
    <strong>End date mask:</strong>
    <%= participant.end_date_mask %>
  </p>

  <p>
    <strong>Import order:</strong>
    <%= participant.import_order_id %>
  </p>

  <p>
    <strong>Discogs code:</strong>
    <%= participant.discogs_code %>
  </p>

  <p>
    <strong>Imdb code:</strong>
    <%= participant.imdb_code %>
  </p>

  <p>
    <strong>Musicbrainz code:</strong>
    <%= participant.musicbrainz_code %>
  </p>

  <p>
    <strong>Tmdb code:</strong>
    <%= participant.tmdb_code %>
  </p>

  <p>
    <strong>Wikidata code:</strong>
    <%= participant.wikidata_code %>
  </p>

</div>
