<%= form_with(model: archetype) do |form| %>
  <% if archetype.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(archetype.errors.count, "error") %> prohibited this archetype from being saved:</h2>

      <ul>
        <% archetype.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :artist_credit_id, style: "display: block" %>
    <%= form.text_field :artist_credit_id %>
  </div>

  <div>
    <%= form.label :archetypeable_type, style: "display: block" %>
    <%= form.text_field :archetypeable_type %>
  </div>

  <div>
    <%= form.label :archetypeable_id, style: "display: block" %>
    <%= form.text_field :archetypeable_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
