<div id="<%= dom_id link %>">
  <p>
    <strong>Begin date:</strong>
    <%= link.begin_date %>
  </p>

  <p>
    <strong>Begin date accuracy:</strong>
    <%= link.begin_date_accuracy %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= link.end_date %>
  </p>

  <p>
    <strong>End date accuracy:</strong>
    <%= link.end_date_accuracy %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= link.source_id %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= link.destination_id %>
  </p>

  <p>
    <strong>Link kind:</strong>
    <%= link.link_kind_id %>
  </p>

</div>
