<div id="<%= dom_id link_kind %>">
  <p>
    <strong>Name:</strong>
    <%= link_kind.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= link_kind.description %>
  </p>

  <p>
    <strong>Link phrase:</strong>
    <%= link_kind.link_phrase %>
  </p>

  <p>
    <strong>Reverse link phrase:</strong>
    <%= link_kind.reverse_link_phrase %>
  </p>

  <p>
    <strong>Long link phrase:</strong>
    <%= link_kind.long_link_phrase %>
  </p>

  <p>
    <strong>Musicbrainz code:</strong>
    <%= link_kind.musicbrainz_code %>
  </p>

</div>
