<%= form_with(model: import_order, local: true) do |form| %>
  <% if import_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(import_order.errors.count, "error") %> prohibited this import_order from being saved:</h2>

      <ul>
        <% import_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code, class: "label" %>
    <%= form.text_field :code, class: "input", placeholder: "Code", type: "text" %>
  </div>

  <div class="field">
    <%= form.label :state, class: "label" %>
    <%= form.text_field :state, class: "input", type: "text" %>
  </div>

  <div class="field">
    <%= form.label :type, class: "label" %>
    <%= form.text_field :type, class: "input", type: "text" %>
  </div>

  <div class="field">
    <%= form.label :uri, class: "label" %>
    <%= form.text_field :uri, class: "input", placeholder: "Uri", type: "text" %>
  </div>

  <div class="field">
    <%= form.label :user_id, class: "label" %>
    <%= form.text_field :user_id, class: "input", type: "text" %>
  </div>

  <div class="field">
    <%= form.label :requests_count, class: "label" %>
    <%= form.number_field :requests_count, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :import_queue_id, class: "label" %>
    <%= form.text_field :import_queue_id, class: "input", type: "text" %>
  </div>

  <div class="control">
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>
