<div id="<%= dom_id import_order %>">
  <p>
    <strong>Kind:</strong>
    <%= import_order.kind %>
  </p>

  <p>
    <strong>State:</strong>
    <%= import_order.state %>
  </p>

  <p>
    <strong>Uri:</strong>
    <%= import_order.uri %>
  </p>

  <p>
    <strong>Import order:</strong>
    <%= import_order.import_order_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%# = import_order.user_id %>
  </p>

</div>
