<p id="notice"><%= notice %></p>

<h1>Import Orders</h1>

<table class="table is-narrow">
  <thead>
    <tr>
      <th>Code</th>
      <th>State</th>
      <th>Type</th>
      <th>Uri</th>
      <th>User</th>
      <th>Requests count</th>
      <th>Import queue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @import_orders.each do |import_order| %>
      <tr>
        <td><%= import_order.code %></td>
        <td><span class="<%= import_order_state_class_for(import_order.state) %>"><%= import_order.state %></span></td>
        <td><%= import_order.type %></td>
        <td><%= link_to import_order.uri, import_order.uri %></td>
        <td><%= import_order.user.email %></td>
        <td><%= import_order.requests_count %></td>
        <td><%= import_order.import_queue.name %></td>
        <td><%= link_to 'Show', import_order, class: 'button is-link'%></td>
        <td><%= link_to 'Edit', edit_import_order_path(import_order), class: 'button is-link' %></td>
        <td><%= link_to 'Destroy', import_order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Import Order', new_import_order_path %>
