<p id="notice"><%= notice %></p>

<section>
  <div class="container">
    <div class="columns is-gapless is-multiline">
      <div class="column is-1"><strong>Code:</strong></div>
      <div class="column is-11"><%= @import_order.code %></div>
    
      <div class="column is-1"><strong>State:</strong></div>
      <div class="column is-11"><span class="<%= import_order_state_class_for(@import_order.state) %>"><%= @import_order.state %></span></div>
    
      <div class="column is-1"><strong>Uri:</strong></div>
      <div class="column is-11"><%= link_to @import_order.uri, @import_order.uri %></div>
    
      <div class="column is-1"><strong>User:</strong></div>
      <div class="column is-11"><%= @import_order.user_id %></div>
    
      <div class="column is-1"><strong>Requests:</strong></div>
      <div class="column is-11"><%= @import_order.requests_count%></div>
    
      <div class="column is-1"><strong>Import queue:</strong></div>
      <div class="column is-11"><%= @import_order.import_queue_id %></div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <%= link_to 'edit', edit_import_order_path(@import_order), class: 'button is-link'%>
    <%= link_to 'Back', import_orders_path, class: 'button is-link' %>
    <%= link_to 'New', new_import_order_path, class: 'button is-link' %>
  </div>
</section>