<p id="notice"><%= notice %></p>

<section>
  <div class="container">
    <div class="columns is-gapless is-multiline">
      <div class="column is-2"><strong>Code:</strong></div>
      <div class="column is-10"><%= @import_order.code %></div>
    
      <div class="column is-2"><strong>State:</strong></div>
      <div class="column is-10"><span class="<%= import_order_state_class_for(@import_order.state) %>"><%= @import_order.state %></span></div>
    
      <% if @import_order.item %>
      <div class="column is-2"><strong>Item:</strong></div>
      <div class="column is-10"><%= link_to @import_order.item_designation, @import_order.item %></div>
      <% end %>

      <div class="column is-2"><strong>Uri:</strong></div>
      <div class="column is-10"><%= link_to @import_order.uri, @import_order.uri %></div>
    
      <div class="column is-2"><strong>User:</strong></div>
      <div class="column is-10"><%= @import_order.user.email %></div>
    
      <div class="column is-2"><strong>Import requests:</strong></div>
      <div class="column is-10"><%= @import_order.requests_count%></div>
    
      <div class="column is-2"><strong>Import queue:</strong></div>
      <div class="column is-10"><%= @import_order.import_queue.name %></div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <%= link_to 'edit', edit_import_order_path(@import_order), class: 'button is-link'%>
    <%= link_to 'Back', import_orders_path, class: 'button is-link' %>
    <%= link_to 'New', new_import_order_path, class: 'button is-link' %>
  </div>
</section>