<h1>CompilationCopies#new</h1>
<p>Find me in app/views/compilation_copies/new.html.erb</p>

<%= form_for @compilation_copy, url: {action: "create"} do |form| %>
  <p>
    <%= form.label 'explanation' %>
    <%= form.text_field :explanation %>
  </p>
  <%= form.hidden_field(
      :compilation_release_id,
      value: @compilation_release_id.to_s
  ) %>
  <%= form.submit 'create' %>
<% end %>
