<div id="<%= dom_id edition_position %>">
  <p>
    <strong>Alphanumeric:</strong>
    <%= edition_position.alphanumeric %>
  </p>

  <p>
    <strong>No:</strong>
    <%= edition_position.no %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= edition_position.edition_id %>
  </p>

  <p>
    <strong>Edition section:</strong>
    <%= edition_position.edition_section_id %>
  </p>

</div>
