<%= form_with(model: edition_position) do |form| %>
  <% if edition_position.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(edition_position.errors.count, "error") %> prohibited this edition_position from being saved:</h2>

      <ul>
        <% edition_position.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :alphanumeric, style: "display: block" %>
    <%= form.text_field :alphanumeric %>
  </div>

  <div>
    <%= form.label :no, style: "display: block" %>
    <%= form.number_field :no %>
  </div>

  <div>
    <%= form.label :edition_id, style: "display: block" %>
    <%= form.text_field :edition_id %>
  </div>

  <div>
    <%= form.label :edition_section_id, style: "display: block" %>
    <%= form.text_field :edition_section_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
