<%= form_with(model: music_brainz_import_order) do |form| %>
  <% if music_brainz_import_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(music_brainz_import_order.errors.count, "error") %> prohibited this music_brainz_import_order from being saved:</h2>

      <ul>
        <% music_brainz_import_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.text_field :kind %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :uri, style: "display: block" %>
    <%= form.text_field :uri %>
  </div>

  <div>
    <%= form.label :music_brainz_import_order_id, style: "display: block" %>
    <%= form.text_field :music_brainz_import_order_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
