<p style="color: green"><%= notice %></p>

<%= render @music_brainz_import_order %>

<div>
  <%= link_to "Edit this music brainz import order", edit_music_brainz_import_order_path(@music_brainz_import_order) %> |
  <%= link_to "Back to music brainz import orders", music_brainz_import_orders_path %>

  <%= button_to "Destroy this music brainz import order", @music_brainz_import_order, method: :delete %>
</div>
