<p id="notice"><%= notice %></p>

<h1>Release Images</h1>

<% @release_images.each do |release_image| %>
<% next unless release_image.file.attached? %>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= image_tag release_image.file.variant(resize_to_limit: [64, 64]) if release_image.file.attached? %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <% if release_image.note %>
          <p>
            <%= release_image.note %> 
          </p>
        <% end %>
        <% if release_image.front? %>
          <span class="tag is-primary">front</span>
        <% end %>
        <% if release_image.back? %>
          <span class="tag is-primary">back</span>
        <% end %>
        <% if release_image.coverartarchive_code %>
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-dark">coverartarcihve.org</span>
              <span class="tag is-primary"><%= release_image.coverartarchive_code %></span>
            </div> 
          </div>
        <% end %>
        <%= link_to 'text', release_image.release %>
        <%= link_to 'Show', release_image %>
        <%= link_to 'Edit', edit_release_image_path(release_image) %>
        <%= link_to 'Destroy', release_image, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p> 
    </div> 
  </div>
</article>
<% end %>

<br>

<p><%= paginate @release_images %></p>

<%= link_to 'New Release Image', new_release_image_path %>
