<p id="notice"><%= notice %></p>

<p>
  <strong>Front cover:</strong>
  <%= @release_image.front_cover %>
</p>

<p>
  <strong>Back cover:</strong>
  <%= @release_image.back_cover %>
</p>

<p>
  <strong>Note:</strong>
  <%= @release_image.note %>
</p>

<p>
  <strong>Release:</strong>
  <%= @release_image.release_id %>
</p>

<p>
  <strong>archive.org code:</strong>
  <%= @release_image.coverartarchive_code %>
</p>

<p>
  <%= image_tag @release_image.image.file %>
</p>

<% if @release_image.tags.any? %>
<p>
  <%= @release_image.tag_names.join(', ')%>
</p>
<% end %>

<%= link_to 'Edit', edit_release_image_path(@release_image) %> |
<%= link_to 'Back', release_images_path %>
