<p id="notice"><%= notice %></p>

<h1>Releases</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Barcode</th>
      <th>Date</th>
      <th>Data mask</th>
      <th>Type</th>
      <th>Version</th>
      <th>Brainz code</th>
      <th>Discogs code</th>
      <th>Imdb code</th>
      <th>Tmdb code</th>
      <th>Wikidata code</th>
      <th>Area</th>
      <th>Artist credit</th>
      <th>Import order</th>
      <th>Language</th>
      <th>Release head</th>
      <th>Script</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= release.title %></td>
        <td><%= release.barcode %></td>
        <td><%= release.date %></td>
        <td><%= release.data_mask %></td>
        <td><%= release.type %></td>
        <td><%= release.version %></td>
        <td><%= release.brainz_code %></td>
        <td><%= release.discogs_code %></td>
        <td><%= release.imdb_code %></td>
        <td><%= release.tmdb_code %></td>
        <td><%= release.wikidata_code %></td>
        <td><%= release.area_id %></td>
        <td><%= release.artist_credit_id %></td>
        <td><%= release.import_order_id %></td>
        <td><%= release.language_id %></td>
        <td><%= release.release_head_id %></td>
        <td><%= release.script_id %></td>
        <td><%= link_to 'Show', release %></td>
        <td><%= link_to 'Edit', edit_release_path(release) %></td>
        <td><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release', new_release_path %>
