<% content_for :title do %>
     <% @release.title %>
<% end %>

<h1>
    <%= @release.title %>
    <br>
    <small class="text-muted"><%= @release.artist_credit.name %></small>
</h1>

<div class="container-fluid">
    <h2>Info</h2>
    <dl class="row">
        <dt class="col-sm-1">Language</dt>
        <dd class="col-sm-11"><%= @release.language.name %></dd>

        <dt class="col-sm-1">Script</dt>
        <%- # TODO: remove fake script -%>
        <dd class="col-sm-11">Latn</dd>

        <dt class="col-sm-1">Area</dt>
        <dd class="col-sm-11"><%= @release.area.name %></dd>

        <% if @release.area && @release.area.iso3166_part1_countries %>
            <dt class="col-sm-1">Iso-Codes</dt>
            <dd class="col-sm-11"><%= @release.area.iso3166_part1_codes.join(', ')%></dd>
        <% end %>
    </dl>
</div>
<div class="container-fluid">
    <h2>Release events</h2>
    <dl class="row">
        <% @release.release_events.each do |release_event| %>
            <dt class="col-sm-1"><%= release_event.date %></dt>
            <dd class="col-sm-11"><%= release_event.area.name %></dd>
        <% end %>
    </dl>
</div>
<ul>
    <% @release.subsets.each do |subset| %>
        <% subset.tracks.each do |track| %>
            <li>
                <%= track.piece.title %>
                <%= track.piece.duration.mmss %>
            </li>
        <% end %>
    <% end %>
</ul>
