<% content_for :title do %>
     <% @release.title %>
<% end %>

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
    <h1 class="title"><%= @release.title %></h1>
    <% if @release.artist_credit %>
      <h2 class="subtitle"><%= @release.artist_credit.name %></h2>
    <% end %>
    </div>
  </div>
</section>

<% front = @release.images.where(front_cover: true).limit(1).first %>
<% if front %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
         <%= image_tag front.image.file %>
      </div> 
      <div class="column is-half">
         <%= render partial: 'shared/release_info', locals: { release: @release } %>
      </div>
    </div>
  </div>
</section>
<% else %>
  <%= render partial: 'shared/release_info', locals: { release: @release } %>
<% end %>

<% if user_signed_in? %>
<section>
  <div class="container has-text-centered">
    <%= link_to 'Add to my collection', new_release_copy_path(release_id: @release), class: 'button is-link is-success' %>
  </div>
</section>
<% end %>

<section>
  <div class="container">
    <h3 class="subtitle">Tracks:</h3>
    <%= render partial: 'shared/release_subset', collection: @release.subsets %>
  </div>
</section>
