<div id="<%= dom_id artist_credit_participant %>">
  <p>
    <strong>Artist credit:</strong>
    <%= artist_credit_participant.artist_credit_id %>
  </p>

  <p>
    <strong>Join phrase:</strong>
    <%= artist_credit_participant.join_phrase %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= artist_credit_participant.participant_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= artist_credit_participant.position %>
  </p>

</div>
