<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">Kleinodien</a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      </div>
    </nav>

    <% flash.each do |type, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    <% if user_signed_in? %>
      <%= destroy_user_session_path %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% end %>
  </body>
</html>
